* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

body {
    background-color: #ffebcd;
    }

.wrapper {
    max-width: 1170px;
    margin: auto;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 3px solid #593601;
    padding-bottom: 40px;
}

.header {
    background-color: #593601;
    color: #ffebcd;
    align: right
    padding-top: 20px;
    padding: 20px 30px;
    margin-bottom: 30px;
}
.header a {
    color: #ffebcd;
    text-decoration: none;
}
.header a:hover {
    text-decoration: underline;
}

.find_btn {
    cursor: pointer;
    padding: 5px 15px;
    background-color: #593601;
    color: #ffebcd;
    border: 1px solid #000000;
}
.find_btn:hover {
    background-color: #593601;
}

.add_btn {
    cursor: pointer;
    padding: 5px 15px;
    background-color: #006400;
    color: #ffebcd;
    border: 1px solid #000000;
}
.add_btn:hover {
    background-color: #006400;
}

.delete_btn {
    cursor: pointer;
    padding: 5px 15px;
    background-color: #8b0000;
    color: #ffebcd;
    border: 1px solid #000000;
}
.delete_btn:hover {
    background-color: #8b0000;
}

input {
    border: 1px solid #8b0000;
    background-color: #ffffff;}

input.myinput {
    padding: 10px 25px;
    color: #8b0000;
    margin-bottom: 15px;
    display: block;
    background-color: #ffffff;
}

input[type=submit]{
    background-color: #593601;
    color: #ffffff;
    padding: 10px 35px;
    border: 1px solid #000000;
    cursor: pointer;

}

input[type=submit]:hover{
    background-color: #006400;
}
input[type=submit]:active{
    background-color: #006400;
}

.add_link {
    display: block;
    text-decoration: none;
}

input[name=finded_value]{
    padding: 5px 15px;
}

.find_submit {
    cursor: pointer;
    padding: 4px 15px;
    margin-left: 15px;
    border: #8b0000 2px solid;
    background-color: #8b0000;
    color: #999999;
}
.find_submit:hover {
    background-color: #8b0000;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #593601;
    text-align: left;
    padding: 8px;
}

tr:nth-child (odd) {
    background-color: #f7f7f7;
}

tr:nth-child (even) {
    background-color: #c4c4c4;
}